[Unit]
Description=SpeedTest for Ambient
After=network.target

[Service]
Type=oneshot
User=user
Group=group
Environment=AMBIENT_CHANNEL_ID=99999
Environment=AMBIENT_WRITE_KEY=0123456789abcdef
Environment=SPEEDTEST_SERVER=21569
WorkingDirectory=/path/to/project
ExecStart=/path/to/venv/python app.py
TimeoutSec=60

[Install]
WantedBy=multi-user.target